In [1]:
"""Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series."""

'Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.'

In [2]:
import pandas as pd

In [5]:
data=[4,8,15,16,23,42]
data1=pd.Series(data)
print(data1)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [6]:
"""Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it."""

'Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.'

In [8]:
import pandas as pd 
l=[0,1,2,3,4,5,6,7,8,9]
data=pd.Series(l)
print(data)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [9]:
"""Q3. Create a Pandas DataFrame that contains the following data: Then, print the DataFrame."""

'Q3. Create a Pandas DataFrame that contains the following data: Then, print the DataFrame.'

In [14]:
import pandas as pd 
data={"Name":['Alice','Bob','Claire'],
       "Age":[25,30,27],
       "Gender":['Female','Male','Female'],
      }
     
data1=pd.DataFrame(data)
print(data1)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [17]:
"""Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example."""

'Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.'

In [18]:
"data frame are written in double square bracket ([[   ]]) , where series are written in single square bracket ([[  ]])"

'data frame are written in double square bracket ([[   ]]) , where series are written in single square bracket ([[  ]])'

In [ ]:
"""Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?"""

'Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?'

In [20]:
"Selected column,changing data type,creating new column"

'Selected column,changing data type,creating new column'

In [21]:
select_column=df[['name','age']]
 
    
# it's give an error because df is not define

NameError: name 'df' is not defined

In [22]:
"""Q6. Which of the following is mutable in nature Series, DataFrame, Panel?"""

'Q6. Which of the following is mutable in nature Series, DataFrame, Panel?'

In [23]:
"series and Dataframe"

'series and Dataframe'

In [24]:
"""Q7. Create a DataFrame using multiple Series. Explain with an example."""

'Q7. Create a DataFrame using multiple Series. Explain with an example.'

In [ ]:
import pandas as pd

name=pd.Series(['ROHIT','RAHUL','VIJAY']),
age=pd.Series([20,23,25])
data={'name':name,
      'age':age,}
df